<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="first.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
<body>
<div class="page">
    <div class="main">

        <div class="image">
            <i class="fa-solid fa-file-invoice-dollar"></i>
        </div>

        <div class="text">
            <p>SPLITWISE</p>
        </div>

        <div class="tagline">
            <p>Manage shared expenses easily</p>
        </div>

        <div class="card">
            <h3>Create Account</h3>

            <form th:action="@{/SIGNUP1}" method="post">

                <label>Name</label>
                <div class="input-box">
                    <i class="fa-solid fa-user"></i>
                    <input type="text" name="name" placeholder="John Deo" required>
                </div>

                <label>Email</label>
                <div class="input-box">
                    <i class="fa-regular fa-envelope"></i>
                    <input type="email" name="email" placeholder="you@example.com" required>
                </div>

                <label>Password</label>
                <div class="input-box">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="password" placeholder="••••••••" required>
                </div>

                <button type="submit" class="login-btn">Create Account</button>

            </form>

            <p class="signup">
                Already have an account? <a th:href="@{/LOGIN}">Login</a>
            </p>
        </div>


    </div>
</div>

</body>
</html>